@use "sass:color";
@use "sass:map";
@use "../theme.light" as lightTheme;
@use "../theme.dark" as darkTheme;
@use "../index";
@use "../fonts";

.button {
  @include index.disable-user-select;

  border-radius: 4px;
  margin: 0;
  padding: 0.65rem 1.25rem;
  overflow: visible;

  line-height: normal;

  @include fonts.type-regular;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1;

  transition: all 200ms ease;

  // States
  &:hover {
    transform: translateY(-1px);
  }
  &:focus {
    @include index.outline-focus;
  }
  &:active {
    transform: translateY(0);
    box-shadow: unset;
  }
  &:disabled {
    cursor: not-allowed;
    transform: translateY(0);
  }

  // Theme variants
  @mixin themify($theme) {
    border: 1px solid map.get($theme, "fg");
    background: map.get($theme, "bg");
    color: map.get($theme, "fg");

    // Variations
    &.primary {
      color: map.get($theme, "bg");
      border: 1px solid map.get($theme, "fg");
      background: map.get($theme, "fg");
    }

    // States
    &:hover {
      box-shadow: 0px 2px 5px map.get($theme, "fg");
    }
    &:disabled {
      border: 1px solid map.get($theme, "fg-alpha");
      color: map.get($theme, "fg-alpha");
      background: map.get($theme, "middle");
      box-shadow: none;
    }
    &.submitting {
      background: repeating-linear-gradient(
        90deg,
        color.change(map.get($theme, "middle"), $alpha: 0.45),
        color.change(map.get($theme, "middle"), $alpha: 0.85)
      );

      background-size: 200% 100%;
      animation: gradient 1.2s ease-out infinite;
    }
  }
  &.light {
    @include themify(lightTheme.$theme);
  }
  &.dark {
    @include themify(darkTheme.$theme);
  }
}

@keyframes gradient {
  0% {
    background-position: 200% 100%;
  }
  100% {
    background-position: 0% 150%;
  }
}
