@use "sass:color";
@use "sass:map";
@use "../index";
@use "../fonts";

.input {
  border: 1px solid map.get(index.$theme, "fg-alpha");
  border-radius: 2px;
  margin: 0;
  padding: 0.4rem 0.6rem;
  width: 100%;

  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  color: map.get(index.$theme, "fg");
  background: map.get(index.$theme, "bg");

  @include fonts.type-regular;
  font-size: 1rem;
  line-height: 1;

  // Modifiers
  &.mono {
    @include fonts.type-mono;
  }
  &.large {
    font-size: 1.25rem;
    padding: 0.5rem 0.8rem;
  }
  &.regular {
    font-size: 1rem;
  }
  &.small {
    font-size: 0.75rem;
  }

  // States
  &:hover {
    border: 1px solid map.get(index.$theme, "fg");
  }

  &:focus {
    @include index.outline-focus;
  }

  &::placeholder {
    color: map.get(index.$theme, "middle");
    font-style: italic;
  }
}
