@use "sass:color";
@use "sass:map";
@use "../theme.light" as lightTheme;
@use "../theme.dark" as darkTheme;
@use "../index";
@use "../fonts";

.field {
  display: flex;
  flex-direction: column;
}

.input {
  border-radius: 2px;
  margin: 0;
  padding: 0.4rem 0.6rem;
  width: 100%;

  display: inline-block;
  vertical-align: middle;
  white-space: normal;

  @include fonts.type-regular;
  font-size: 1rem;
  line-height: 1;

  // Modifiers
  &.mono {
    @include fonts.type-mono;
  }
  &.large {
    font-size: 1.25rem;
    padding: 0.5rem 0.8rem;
  }
  &.regular {
    font-size: 1rem;
  }
  &.small {
    font-size: 0.75rem;
  }

  // Theme variants
  @mixin themify($theme) {
    border: 1px solid map.get($theme, "fg-alpha");
    color: map.get($theme, "fg");
    background: map.get($theme, "bg");

    &.error {
      border: 1px solid map.get($theme, "error");
    }

    &::placeholder {
      color: map.get($theme, "middle");
      font-style: italic;
    }

    &:focus {
      @include index.outline-focus;
    }
    &:hover {
      border: 1px solid map.get($theme, "fg");
    }
  }
  &.light {
    @include themify(lightTheme.$theme);
  }
  &.dark {
    @include themify(darkTheme.$theme);
  }
}

.errorLabel {
  display: inline-block;
  white-space: pre-wrap;

  @include fonts.type-regular;
  font-size: 0.725rem;

  // Theme variants
  @mixin themify($theme) {
    color: map.get($theme, "error");
    text-shadow: 1px 1px map.get($theme, "bg"), -1px 1px map.get($theme, "bg"),
      1px -1px map.get($theme, "bg"), -1px -1px map.get($theme, "bg"),
      2px 0 map.get($theme, "bg"), -2px 0 map.get($theme, "bg");
  }
  &.light {
    @include themify(lightTheme.$theme);
  }
  &.dark {
    @include themify(darkTheme.$theme);
  }
}
