@use "sass:map";
@use "../../index.scss";

.root {
  width: 100%;
  height: 100%;
  background-color: map.get(index.$theme, "secondary");
}

.content {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 80%;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.logo {
  margin-bottom: 1.5rem;

  font-family: index.$font-family-logo;
  font-style: italic;
  font-size: 1.75rem;

  color: map.get(index.$theme, "primary");

  @include index.disable-user-select;

  &::before,
  &::after {
    content: "🔔";
    font-size: 1.25rem;
    font-style: normal;
  }
  &::before {
    padding-right: 1rem;
  }
  &::after {
    padding-left: 1rem;
  }
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fieldsMargin > input,
.fieldsMargin > button {
  margin: 0.5rem 0;
}
.fieldsMargin > input:first-child,
.fieldsMargin > button:first-child {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.fieldsMargin > input:last-child,
.fieldsMargin > button:last-child {
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.buttons {
  margin-top: 2rem;
}
