@use "../../index.scss" as i;

.login-root {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.logo {
  margin-bottom: 0.5rem;

  font-family: i.$font-family-mono;
  font-style: italic;
  font-size: 2.5rem;
  letter-spacing: -0.2rem;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
