@use "sass:map";
@use "../../theme.light" as lightTheme;
@use "../../theme.dark" as darkTheme;
@use "../../index";
@use "../../fonts";

.root {
  width: 100%;
  height: 100%;

  background-size: 0.5rem 0.5rem;

  // Theme variants
  @mixin themify($theme) {
    background-color: map.get($theme, "bg");
    background-image: radial-gradient(
      map.get($theme, "fg-alpha") 0.5px,
      map.get($theme, "bg") 0.5px
    );
  }
  &.light {
    @include themify(lightTheme.$theme);
  }
  &.dark {
    @include themify(darkTheme.$theme);
  }
}

.content {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;

  @media only screen and (min-width: 600px) {
    width: 400px;
  }
}

.logo {
  @include index.disable-user-select;

  margin-bottom: 2rem;

  font-family: fonts.$font-family-logo;
  font-size: 1.75rem;
  letter-spacing: -0.05em;

  &::before,
  &::after {
    content: "🔔";
    font-size: 1.25rem;
    font-style: normal;
  }
  &::before {
    padding-right: 1rem;
  }
  &::after {
    padding-left: 1rem;
  }

  @mixin themify($theme) {
    color: map.get($theme, "fg");
    text-shadow: 2px 0 map.get($theme, "bg"), -2px 0 map.get($theme, "bg"),
      0 2px map.get($theme, "bg"), 0 -2px map.get($theme, "bg"),
      4px 0 map.get($theme, "bg"), -4px 0 map.get($theme, "bg");
  }
  // Theme variants
  &.light {
    @include themify(lightTheme.$theme);
  }
  &.dark {
    @include themify(darkTheme.$theme);
  }
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fieldsMargin > .field {
  margin: 0.25rem 0;
}
.fieldsMargin > .field:first-child {
  margin-top: 0;
  margin-bottom: 0.25rem;
}
.fieldsMargin > .field:last-child {
  margin-top: 0.25rem;
  margin-bottom: 0;
}

.field {
  width: inherit;
}

.buttons {
  margin-top: 1rem;
}
