@use "sass:map";

@font-face {
  font-family: ("DMMono");
  src: url("~fonts/dmmono.ttf");
}

@font-face {
  font-family: ("Fira Code");
  src: url("~fonts/FiraCode-Retina.ttf");
}

$font-family-regular: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
  Oxygen, Ubuntu, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
$font-family-logo: DMMono;
$font-family-mono: Fira Code;

@mixin type-regular {
  font-family: $font-family-regular;
}
@mixin type-mono {
  font-family: $font-family-mono;
}

$fg: #333;
$bg: #fff;
// $bg: #333; // dark theme
// $fg: #fff; // dark theme
$accent: #4a99e4;

$light-theme: (
  "fg-1": darken($fg, 20),
  "fg": $fg,
  "fg+1": lighten($fg, 20),
  "fg+2": lighten($fg, 50),
  "bg-1": darken($bg, 20),
  "bg": $bg,
  "bg+1": lighten($bg, 20),
  "accent-1": darken($accent, 20),
  "accent": $accent,
  "accent+1": lighten($accent, 20),
);

// Theme loading
$theme: $light-theme;

// Global overrides
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;

  height: 100%;

  font-size: 16px;
}

:global(#app-root) {
  width: 100%;
  height: 100%;
}
