@use "sass:color";

/* SCSS HEX */
$rich-black-fogra-39: #0a100dff;
$quick-silver: #9ca0a0;
$battleship-grey: #858585;
$x-grey: #bdb9b9;
$cornflower-blue: rgb(84, 178, 255);
$orange-yellow: #f3b61fff;
$white: #fcfcfcff;

$theme: (
  "accent": $orange-yellow,
  "outline": $cornflower-blue,
  "fg": $rich-black-fogra-39,
  "fg-alpha": color.scale($rich-black-fogra-39, $alpha: -60%),
  "fg-alpha-2": color.scale($rich-black-fogra-39, $alpha: -90%),
  "middle": $x-grey,
  "bg": $white,
);
