@use "sass:color";

/* SCSS HEX */
$rich-black-fogra-39: #0a100dff;
$quick-silver: #9ca0a0;
$battleship-grey: #777777;
$x-grey: #bdb9b9;
$cornflower-blue: #54b2ffff;
$orange-yellow: #f3b61fff;
$rusty-red: #de3c4bff;
$white: #fcfcfcff;

$theme: (
  "accent": $orange-yellow,
  "outline": $cornflower-blue,
  "error": $rusty-red,
  "fg": $white,
  "middle": $battleship-grey,
  "middle-2": #363636,
  "bg": $rich-black-fogra-39,
);
