@use "sass:color";

/* SCSS HEX */
$rich-black-fogra-39: #0a100dff;
$cornflower-blue: #54b2ffff;
$orange-yellow: #f3b61fff;
$rusty-red: #de3c4bff;
$white: #fcfcfcff;

$theme: (
  "accent": $orange-yellow,
  "outline": $cornflower-blue,
  "error": $rusty-red,
  "fg": $rich-black-fogra-39,
  "middle": #b2aaaa,
  "middle-2": #e8e6e6,
  "bg": $white,
);
